/**************************************************
ABOUT OUR APP SECTION
***************************************************/

.about-out-app-container {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--padding-container);
}

.about-our-app-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    margin: 0 auto 50px;
}

.about-out-app-description-img-ppal {
    width: 40%;
    padding: 2% 5%;
}

.about-our-app-title p {
    display: block;
    width: 125%;;
}

.about-our-app-description {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: 3%;
}

.sub-about-our-app-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    padding: 0 1% 0 5%;
    line-height: 17px;
}

.sub-sub-about-our-app-description {
    display: flex;
    flex-direction: row;
    padding: 40px 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px 0;
}

.sub-sub-about-our-app-description h3 {
    padding-bottom: 10px;
}

.sub-sub-about-our-app-description p {
    color: #6C6C72;
    text-align: left;
}

.sub-sub-about-our-app-description img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}