/*************************************
APP FEATURES
**************************************/

.app-features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 60px 0;
}

.app-feature-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 550px;
    margin-bottom: 80px;
}

.app-feature-title h2 {
    padding-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
}

.app-feature-title p {
    font-weight: 400;
    font-size: 13px;
    text-align: center;
}

.full-free-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 330px;
    text-align: center;
    margin-bottom: 40px;
}

.Support-by-real-people {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 330px;
    text-align: center;
}

.full-free-chat img ,
.Support-by-real-people img {
    width: 40px;
    height: 38px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.full-free-chat h3 ,
.Support-by-real-people h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.full-free-chat p ,
.Support-by-real-people p {
    font-size: 13px;
    line-height: 20px;
}

.four-div-and-img-features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 65px;
}

.img-features-ppal {
    height: 700px;
    width: 400px;
}

.four-div-and-img-features-div-one {
    position: relative;
    bottom: 30px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    text-align: right;
    line-height: 40px;
    
}

.four-div-and-img-features-div-one div img {
    width: 40px;
    height: 38px;
    border-radius: 8px;
}

.four-div-and-img-features-div-one div h3 {
    font-weight: 600;
    font-size: 18px;;
}

.four-div-and-img-features-div-one div p {
    font-size: 13px;
}

.four-div-and-img-features-div-two {
    position: relative;
    right: 49px;
    bottom: 30px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    text-align: left;
    line-height: 47px
}

.four-div-and-img-features-div-two div img {
    width: 40px;
    height: 38px;
    border-radius: 8px;
}

.four-div-and-img-features-div-two div h3 {
    font-weight: 600;
    font-size: 18px;;
}

.four-div-and-img-features-div-two div p {
    font-size: 13px;
}