/*************************************
APP FEATURES
**************************************/

.app-features-container {
    background-image: url(../../img/Background\ Image.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 14% 136px;
}

.app-feature-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20%;
    margin-bottom: 5%;
}

.full-free-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 30%;
}

.Support-by-real-people {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 20%;
}

.full-free-chat img ,
.Support-by-real-people img {
    width: 40px;
    height: 38px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.full-free-chat h3 ,
.Support-by-real-people h3 {
    margin-bottom: 20px;
}

.four-div-and-img-features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.img-features-ppal {
    width: 100%;
    margin-left: 10px;
}

.four-div-and-img-features-div-one {
    display: grid;
    grid-template-rows: repeat(2, 50%);
    width: 100%;
    height: 100%;
    text-align: right;
    line-height: 40px;
    padding-top: 25%;
}

.four-div-and-img-features-div-one p {
    text-align: right;
}

.four-div-and-img-features-div-one div img {
    background: lightyellow;
    width: 40px;
    height: 38px;
    border-radius: 8px;
}

.four-div-and-img-features-div-two {
    display: grid;
    grid-template-rows: repeat(2, 50%);
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: 40px;
    padding-top: 25%;
}

.four-div-and-img-features-div-two p {
    text-align: left;
}

.four-div-and-img-features-div-two div img {
    background-color: lightslategray;
    width: 40px;
    height: 38px;
    border-radius: 8px;
}

@media (max-width: 767px) {
    .app-features-container {
        padding: 20% 5%;
    }

    .app-feature-title {
        width: 100%;
        padding: 0 12%;
        margin-bottom: 10%;
    }

    .full-free-chat ,
    .Support-by-real-people{
        padding: 0;
    }

    .four-div-and-img-features {
        grid-template-columns: none;
    }

    .four-div-and-img-features-div-one,
    .four-div-and-img-features-div-two {
        padding: 30px 0;
        text-align: center;
    }

    .four-div-and-img-features-div-one p,
    .four-div-and-img-features-div-two p {
        text-align: center;
    }


    .unlimited-androind-version p{
        margin-bottom: 50px;
    }
}