/*******************************************
FOOTER
********************************************/

footer {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    padding: 100px 136px 0 136px;
    background: var(--footer-background);
}

/************************/

footer .individual-box {
    background: white;
    position: absolute;
    width: 55%;
    height: 26%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0; 
    right: 0; 
    bottom: 87%;
    margin: 0 auto;
    padding: 25px 60px;
    border-radius: 10px;
    box-shadow: -1px 1px 21px 3px rgba(0,0,0,0.55);
    -webkit-box-shadow: -1px 1px 21px 3px rgba(0,0,0,0.55);
    -moz-box-shadow: -1px 1px 21px 3px rgba(0,0,0,0.55);
}

.individual-box div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5956E9;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/************************/

.footer-container {
    width: 100%;
    color: white;
}

.footer-container p {
    text-align: left;
}

.footer-container-ppal {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    line-height: 25px;
}

.footer-container-ppal h3 { 
    width: 100%;
    margin-bottom: 8px;
}

.footer-logo {
    padding: 10%;
}

.footer-logo p {
    margin-bottom: 10%;
}

.footer-quick-link {
    padding: 10%;
}

.footer-quick-link ul {
    font-size: 15px;
    list-style: none;
    padding: 0;
    cursor: pointer;
}

.footer-news-letter {
    padding: 40px 40px 0 40px;
}

.footer-news-letter p {
    margin: 15px 0 25px 0;
}

.footer-news-letter div {
    display: flex;
    justify-content: flex-start;
    height: 35px;
    cursor: pointer;
}

.footer-news-letter div input {
    margin-right: 10px;
    width: 80%;
    padding: 8px;
}


/**************************/

.footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-flecha-larga{
    margin-top: 30px;
    width: 100%;
}

.footer-copyright div {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.footer-copyright div img {
    margin-right: 10px;
}




@media (max-width: 767px) {
    footer {
        padding: 0;
    }

    footer .individual-box {
        width: 93%;
        height: 35%;
        padding: 5%;
        flex-direction: column;
        bottom: 82%;
    }

    footer .individual-box img {
        width: 30px;
        height: 30px;
        padding: 5px;
    }

    footer .individual-box p {
        font-size: 22px;
        font-weight: 600;
    }

    .linea-caja-individual {
        width: 20px;
        height: 5px;
    }

    .footer-container-ppal {
        grid-template-columns: 1fr;
        width: 100%;
        padding-top: 40%;
        text-align: left;
    }

    .footer-logo , 
    .footer-quick-link ,
    .footer-news-letter {
        padding: 5%;
    }

    .footer-news-letter {
        padding-bottom: 0;
    }
}
