/*************************************
MENU ELEMENTS
**************************************/

/* MENU CONTACT */

.menu-contact {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-contact ul {
    padding: 0;
}

.menu-contact-left ,
.menu-contact-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-contact-left li {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: white;
}

.menu-contact-left img {
    width: 17px;
    padding-left: 5px;
}

.menu-contact-right img {
    width: 17px;
    margin: auto 20px;
}

/* MENU PRINCIPAL */

.principal-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    font-weight: 600;
}

.principal-menu-left {
    width: 100%;
    background-color: var(--white);
    height: 40px;
    padding-right: 5%;
    border-radius: 5px 0 0 5px;
}

.principal-menu-right {
    width: 100%;
    background-color: var(--white);
    padding-left: 5%;
    border-radius: 0 5px 5px 0;
}

.principal-menu-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 17%;
    background-color: var(--white);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.principal-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.principal-menu a {
    text-decoration: none;
    color: black
}

.principal-menu img {
    height: 30px;
    padding: 5px 50px;
    cursor: pointer;
}

/*BTN DOWNLOAD*/

.principal-menu-btn-download {
    border: 1px solid white;
    cursor: pointer;
    width: 100%;
    height: 40%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--royal-blue);
    color: white;
    letter-spacing: 1px;
}

/* ::HOVER */

.principal-menu-btn-download:hover {
    background-color: var(--white);
    color: var(--royal-blue);
    text-decoration: underline 2px var(--royal-blue);
}

.principal-menu a:hover {
    text-decoration: underline 2px var(--royal-blue);
    color: var(--royal-blue);
    font-weight: 500;
}
