/***************************************
OUR REATIVE TEAM
****************************************/

.our-reative-team-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 14% 136px;
}

.title-team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10%;
    padding: 0 20%;
}
 
.team-people-container {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    justify-content: space-between;
    grid-gap: 15px;
    
}

.carla , .craig , .jocelyn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 1px 10px rgba(49, 49, 49, 0.065);
    padding: 20px;
}

.carla img , .craig img , .jocelyn img {
    margin-bottom: 10%;
} 

.carla h3, .craig h3 , .jocelyn h3 {
    font-weight: 600;
    font-size: 17px;
    color: var(--gray-paragraph);
    margin-bottom: 10px;
}

.carla p , .craig p , .jocelyn p {
    margin-bottom: 30px;
    padding: 0 10px;
    color: var(--gray-paragraph);
}

.logos-redes-sociales {
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}