/***************************************
PRINCIPAL SECTION
****************************************/

.pricipal-section-container {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14% 136px;
    background-image: url(../../img/Background\ Image.png);
}

.pricipal-section-container-presentation h1 {
    color: var(--royal-blue);
    font-size: 35px;
}

.pricipal-section-container-presentation p {
    color: var(--gray-paragraph);
    text-align: left;
    margin-bottom: 10px;
}

.pricipal-section-container-transactions-img img {
    width: 100%;
}

.transparent-box {
    position: absolute;
    width: 38%;
    height: 60%;
    left: 16%;
    border: 15px solid #7472ffb3;
    box-sizing: border-box;
    z-index: 1;
}

.pricipal-section-container-presentation {
    background-color: white;
    position: relative;
    left: 6%;
    width: 65%;
    padding: 4%;
    z-index: 2;
}

.pricipal-section-container-presentation button {
    background-color: transparent;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: none;
    letter-spacing: 3px;
    height: 40px;
    font-size: 0.8rem;
    margin-bottom: 15px;
    cursor: pointer;
}

.pricipal-section-container-presentation img {
    width: 100px;
    cursor: pointer;
}

.pricipal-section-container-presentation button:hover {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.318);
}


@media (max-width: 767px) {
    .pricipal-section-container {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 40% 5%;
    }

    .transparent-box {
        right: 0;
        left: 10%;
        top: 20%;
        width: 85%;
        height: 49%;
        border: 11px solid #7472ffb3;
    }

    .pricipal-section-container-presentation {
        left: 0;
        padding: 3%;
        margin-bottom: 15%;
        width: 95%;
    }

    .pricipal-section-container-presentation h1 {
        font-size: 32px;
        font-weight: 600;
        text-align: left;
        margin-bottom: 5%;
    }

    .pricipal-section-container-presentation p {
        text-align: center;
        margin-bottom: 8%;
    }

    .pricipal-section-container button{
        width: 80%;
        margin-bottom: 8%;
    }

    .pricipal-section-container-transactions-img {
        width: 70%;
        margin: 0 auto;
    }
}