/***************************************
PRINCIPAL SECTION
****************************************/

.pricipal-section-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--padding-container);
}

.pricipal-section-container-presentation h1 {
    color: var(--royal-blue);
    font-size: 220%;
}

.pricipal-section-container-presentation p {
    color: var(--gray-paragraph);
    text-align: left;
}

.pricipal-section-container-transactions-img img {
    width: 100%;
}

.transparent-box {
    position: absolute;
    width: 34%;
    height: 60%;
    left: 18%;
    border: 15px solid #7472ffb3;
    box-sizing: border-box;
    z-index: 1;
}

.pricipal-section-container-presentation {
    background-color: white;
    position: relative;
    left: 6%;
    width: 65%;
    padding: 4%;
    z-index: 2;
}

.pricipal-section-container-presentation button {
    background-color: transparent;
    border: none;
    letter-spacing: 3px;
    height: 40px;
    font-size: 0.8rem;
    margin-bottom: 2px;
    cursor: pointer;
}

.pricipal-section-container-presentation img {
    width: 100px;
    cursor: pointer;
}