/************************************************
GLOBAL
*************************************************/

* , 
*::before, 
*::after{
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    margin: 0 auto;
    padding: 20px 0 0 0;
    background-image: url(../../img/Background\ Image.png);
    font-family: var(--base-font);
    background-color: pink;
} 

nav {
    padding: 0 136px;
}