/************************************************
GLOBAL CSS
*************************************************/

* , 
*::before, 
*::after{
    box-sizing: border-box;
}

* {
    margin: 0;

    max-width: 1440px;
}

body {
    margin: 0 auto;
    padding: 20px 136px;
    background-color: pink;
}

nav {
    background-color: aquamarine;
}