/************************************************
GLOBAL
*************************************************/

* , 
*::before, 
*::after{
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    margin: 0 auto;
    font-family: var(--base-font);
    text-align: center;
} 

nav {
    width: 80%;
    position: absolute;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

header{
    padding: 0 136px;
}