/************************************************
GLOBAL
*************************************************/

* , 
*::before, 
*::after{
    box-sizing: border-box;
}

* {
    margin: 0;

    max-width: 100vw;
}

body {
    margin: 0 auto;
    font-family: var(--base-font);
    text-align: center;
} 

nav {
    width: 80%;
    position: absolute;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

header{
    padding: 0 136px;
}

img {
    max-width: 100vw;
}

@media (max-width: 767px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    nav {
        margin-top: 30px;
        width: 100%;
        padding: 0 5%;
    }
}