/************************************************
GLOBAL CSS
*************************************************/

* , 
*::before, 
*::after{
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    margin: 0 auto;
    padding: 10px 50px;
}