/******************************************
REBOOT
*******************************************/

/*MENU*/

@import url(../elements/menu.css);
@import url(../elements/principal-section.css);
@import url(../elements/about-our-app-section.css);
@import url(../elements/app-features.css);
@import url(../elements/our-reative-team.css);
@import url(../elements/footer.css);

li {
    list-style: none;
}

