/******************************************
REBOOT
*******************************************/

.menu-contact {
    background-color: rgb(212, 133, 133);
    height: 40px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}