/**********************************************
TYPOGRAPHY 
***********************************************/

body {
    font-family: var(--base-font);
    font-style: normal;
}

h1 {
    font-weight: 700;
    font-size: 31.25px;
    line-height: 47px;
    margin-bottom: 10px;
}

h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
}

h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

/*

@media (max-width: 767px) {
    h1 {
        font-size: 20px;
    }
}