/***********************************************
STYLES.CSS
************************************************/

@import url(../core/variables.css);
@import url(../core/global.css);
@import url(../core/reboot.css);
@import url(../core/typography.css);

